node_modules/
.env
.env.*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/
dist/
build/
*.local
*-firebase-adminsdk-*.json
qrmart-fc52c-firebase-adminsdk-fbsvc-7fcaa31591.json
client_secret_*.json
uploads/*
!uploads/.gitkeep
